html, head, body {
  background-color: lightblue;
}

.graph {
  padding: 0;
  width: 100%;
  float: left;
  border-bottom: 1px solid #888;
}

.graph li {
  position: relative;
  list-style: none;
  border-top: 1px solid #888;
  clear: both;
}

.elder {
  display: block;
  padding: 2em;
  position: relative;
  color: #222;
  background: #6983f8;
  font-weight: bold;
  float: left;
}

.adult {
  display: block;
  padding: 2em;
  position: relative;
  color: #222;
  background: #6264ec;
  font-weight: bold;
  float: left;
}
.teen {
  display: block;
  padding: 2em;
  position: relative;
  color: #222;
  background: #7f66ee;
  font-weight: bold;
  float: left;
}

.child {
  display: block;
  padding: 1.3em;
  position: relative;
  color: #222;
  background: #a166ee;
  font-weight: bold;
  float: left;
}

.total {
  margin-top: 10px;
  float: right;
}

.percente, .percenta, .percentt, .percentc {
  font-size: 25px;
  margin-left: 20px;
  margin-top: 25px;
  float: left;
}

.btnback {
	position: absolute;
	left: 0;
	bottom: 0;
  border: none;
  background-color: lightblue;
  margin: 10px 10px 10px 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.btnback:hover {
  background: rgb(255, 255, 255, 0.7);
}

.percente:hover {
  color: #6983f8;
  font-weight: bold;
}
.percenta:hover {
  color: #6264ec;
  font-weight: bold;
}
.percentt:hover {
  color: #7f66ee;
  font-weight: bold;
}
.percentc:hover {
  color: #a166ee;
  font-weight: bold;
}