html, head, body {
  background-color: lightblue;
}

.graph {
  padding: 0;
  width: 100%;
  float: left;
  border-bottom: 1px solid #888;
}

.graph li {
  position: relative;
  list-style: none;
  border-top: 1px solid #888;
  clear: both;
}

.elder {
  display: block;
  padding: 2em;
  position: relative;
  color: #222;
  background: #667fee;
  font-weight: bold;
  float: left;
}

.adult {
  display: block;
  padding: 2em;
  position: relative;
  color: #222;
  background: #6668ee;
  font-weight: bold;
  float: left;
}
.teen {
  display: block;
  padding: 2em;
  position: relative;
  color: #222;
  background: #7f66ee;
  font-weight: bold;
  float: left;
}

.child {
  display: block;
  padding: 1.3em;
  position: relative;
  color: #222;
  background: #a166ee;
  font-weight: bold;
  float: left;
}

.total {
  margin-top: 10px;
  float: right;
}

.percent{
  font-size: 25px;
  margin-left: 20px;
  margin-top: 25px;
  float: left;
}